
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #333;
  color: white;
}

.loading {
  text-align: center;
  margin-top: 4rem;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

h2 {
  margin-left: 10vw;
  margin-bottom: 0;
}

.button-container {
  margin-left: 10vw;
  margin-bottom: 1em;
}

button {
  margin-right: 1em;
  cursor: pointer;
  border: none;
  padding: .6em 1em;
}

button:hover {
  background: #BBB;
}

.row {
  display: flex;
}

.drum-name {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 1.25em;
}

.square {
  border: 1px solid white;
  height: 2.5em;
  width: 2.5em;
  margin-right: 1em;
  cursor: pointer;
}

.hi-hat .active {
  background-color: rgb(133, 208, 221);
}

.snare .active {
  background-color: rgb(221, 133, 133);
}

.kick .active {
  background-color: rgb(143, 221, 133);
}

.curr-beat-played {
  border: 1px solid #222;
}

.square-row {
  display: flex;
  align-items: center;
  width: 90%;
}
