
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #333;
  color: white;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
}

h2 {
  margin-left: 10vw;
}

.row {
  display: flex;
}

.drum-name {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 1.25em;
}

.square {
  border: 1px solid white;
  height: 2.5em;
  width: 2.5em;
  margin-right: 1em;
  cursor: pointer;
}

.square-row {
  display: flex;
  align-items: center;
  width: 90%;
}
